<footer>

<div class="footer">
  <div class="footer-container">
          <a href='https://twitter.com/MarmaTheGhost' target="_blank"><i class="fa fa-twitter fa-3x fa-fw"></i></a>
          <a href='https://www.instagram.com/marmatheghost/' target="_blank"><i class="fa fa-instagram fa-3x fa-fw"></i></a>
          <a href='https://www.flickr.com/photos/158230546@N03/' target="_blank"><i class="fa fa-flickr fa-3x fa-fw"></i></a>
          <a href='https://500px.com/marmatheghost' target="_blank"><i class="fa fa-500px fa-3x fa-fw"></i></a>
          <a href='https://github.com/Marma92' target="_blank"><i class="fa fa-github fa-3x fa-fw"></i></a>

          <p class="text-center text-muted">Under <a href="https://opensource.org/licenses/MIT"> MIT Licence</a>, 2018, <a href="http://amramelbaz.com/contact">ELBAZ Amram</a></p>
  </div>
</div>
</footer>
</html>
