<!doctype>
<html>
<link rel="stylesheet" href="/public/css/portfolio.css">
<header>
<div id="navbar">
            <div>
                <a href="/">Portfolio</a>
                    <a href="/me">A Propos</a>
                    <a href="/">LOGO PICTURE</a>
                    <a href="/contact">Contact</a>
                    <a href="/">Remerciements</a>
            </div>
</div>
</header>
