<!-- views/template.ejs -->
<!doctype html>
<html>
<head>
	<title>Amram's Portfolio</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1> ERROR: 404 </h1>
          <div class="row">
            <p>
              <h4>404 : Your princess is in another castle</h4>
            </p>
          </div>
    </div>
		<center><img src="/public/imgs/i404.png" id="i404"></center>
  </div>

  <% include ./partials/footer %>
</body>
</html>
