<!-- views/template.ejs -->
<!doctype html>
<html>
<head>
	<title><%= obj.pageTitle %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1><%= obj.sections.section.contentSection.titleSection %></h1>
			</div>
          <div class="row">
						<div class="col-sm-12 col-sm-offset-0" >
							<div class="well">

            	<p id="content">
									<%- obj.sections.section.contentSection.textSection %>
            	</p>
							</div>
						</div>
          </div>
  </div>

  <% include ./partials/footer %>
</body>
</html>
